@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    background-image: linear-gradient(to right,rgb(78, 157, 231), #31a9bc, #4e919d, #4e919d, #31a9bc, rgb(78, 157, 231));
}

.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    font-family: 'Montserrat', sans-serif;
    /* border-bottom: 2px solid rgb(16, 7, 49); */
}

.nav-links, a{
    display: flex;
    padding: 0px 40px;
    color: rgb(16, 7, 49);
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

.nav-links, a:hover{
    color: rgb(78, 157, 231);
    cursor: pointer;
}

#name{
    display: flex;
    margin-left: 20px;
    background-color: white;
    color: rgb(16, 7, 49);
}

#personal_info{
    display: flex;
    justify-content: space-between;
    padding: 190px 0px 175px 0px;
    font-family: 'Montserrat', sans-serif;

}

#portrait{
    display: flex;
    padding-left: 15%;
}

#portrait img{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    height: 85%;
    border: 10px solid white;
    border-radius: 10px;
}

#about{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 40%;
    height: 469.22px;
    margin-right: 15%;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
}

#about, h2{
    color: rgb(16, 7, 49);
    font-size: 25px;
    align-items: center;
}

#about, p{
    color: rgb(16, 7, 49);
    font-size: 20px;
    align-items: center;
    margin-left: 20px;
}

#about_me_p1{
    margin-top: 5px;
}

#socials{
    display: flex;
    justify-content: space-evenly;
    width: 75%;
    align-items: center;
    height: auto;
    margin-top: 10px;
}

#socials_logo{
    width: 100px;
    height: 100px;
    padding-right: 15px;
}

#socials_logo:hover{
    opacity: 0.8;
}

#contact{
    font-size: 15px;
}

#my_skills{
    display: flex;
    font-family: 'Monserrat', sans-serif;
    scroll-margin-block: 110px;
    font-family: 'Montserrat', sans-serif;
    font-size: bold;
}

#skill_showcase{
    display: flex;
    flex-direction: column;
    width: 1175px;
    height: 670px;
    background-color: white;
    border-radius: 10px;
    margin: auto;
}

#skill_showcase h2{
    margin-left: 30px;
    font-size: 30px;
    margin-bottom: -1px;
    color: rgb(16, 7, 49);
}

#skill_showcase p{
    margin-left: 30px;
    font-size: 17.5px
}

#my_work{
    display: flex;
    font-family: 'Monserrat', sans-serif;
}

#work_showcase{
    display: flex;
    flex-direction: column;
    width: 1175px;
    height: 550px;
    background-color: white;
    border-radius: 10px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 160px;
    scroll-margin-block: 100px;
    font-family: 'Montserrat', sans-serif;
}

#work_showcase h2{
    margin-left: 30px;
    font-size: 30px;
    margin-bottom: -1px;
    color: rgb(16, 7, 49);
}

#projects{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    margin-top: 25px;
}

#project_logo{
    width: 200px;
    height: 200px;
    cursor: pointer;
}

#title{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    height: auto;
    text-align: center;
    color: rgb(16, 7, 49);
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    cursor: pointer;
}

#text{
    width: 200px;
    font-size: 16.5px;
    margin: auto;
}

@media only screen and (max-width: 390px){

    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

    html{
        scroll-behavior: smooth;
    }

    .navbar{
        width: 320px;
    }

    #name{
        font-size: 20px;
    }

    #nav-links{
        padding: none;
    }

    #nav.links, a{
        font-size: 15px;
        padding: 0px 15px;
    }

    #portrait{
        display: none;
    }

    #personal_info{
        margin: auto;
        padding-bottom: 100px;
        padding-top: 150px;
    }

    #about{
        width: 300px;
        margin: auto;
    }

    #about h2{
        font-size: 20px;
        text-align: center;
    }

    #about p{
        font-size: 15px;
    }

    #about_me_p1{
        margin: 5px 5px 0px 5px;
    }

    #about_me_p2{
        margin: 10px 5px 5px 5px;
    }

    #socials{
        width: 320px;
        margin-top: 10px;
    }

    #socials_logo{
        width: 50px;
        height: 50px;
        padding-right: 0;
    }

    #contact{
        width: 100px;
    }

    #socials p{
        font-size: 10px;
        margin: 0;
    }

    #skill_showcase{
        height: 700px;
    }

    #skill_showcase h2{
        font-size: 20px;
        text-align: center;
        margin: 0;
        margin-top: 20px;
    }

    #skill_showcase p{
        font-size: 12.5px;
        text-align: center;
        margin: 0;
        margin-top: 15px;
    }

    #work_showcase{
        width: 320px;
        height: 1000px;
    }

    #work_showcase h2{
        font-size: 20px;
        text-align: center;
        margin: 0;
        margin-top: 20px;
    }

    #work_showcase h3{
        font-size: 20px;
        text-align: center;
    }

    #work_showcase p{
        font-size: 15px;
    }

    #projects{
        display: flex;
        flex-direction: column;
    }

    #project_logo{
        width: 100px;
        height: 100px;
        margin: auto;
        display: block;
        margin-top: 25px;
    }
}